<footer class="bg-light py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5 class="text-dark">Về Pharmacity</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Giới thiệu</a></li>
                    <li><a href="#" class="text-dark">Hệ thống cửa hàng</a></li>
                    <li><a href="#" class="text-dark">Giấy phép kinh doanh</a></li>
                    <li><a href="#" class="text-dark">Quy chế hoạt động</a></li>
                    <li><a href="#" class="text-dark">Chính sách đổi trả</a></li>
                    <li><a href="#" class="text-dark">Chính sách giao hàng</a></li>
                    <li><a href="#" class="text-dark">Chính sách bảo mật</a></li>
                    <li><a href="#" class="text-dark">Chính sách thanh toán</a></li>
                    <li><a href="#" class="text-dark">Thể lệ chương trình thẻ thành viên</a></li>
                    <li><a href="#" class="text-dark">Thông báo cổ đông</a></li>
                    <li><a href="#" class="text-dark">Trở thành nhà cung cấp</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5 class="text-dark">Danh mục</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Dược phẩm</a></li>
                    <li><a href="#" class="text-dark">Chăm sóc sức khỏe</a></li>
                    <li><a href="#" class="text-dark">Thực phẩm chức năng</a></li>
                    <li><a href="#" class="text-dark">Thiết bị y tế</a></li>
                    <li><a href="#" class="text-dark">Khuyến mãi HOT</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5 class="text-dark">Tổng đài CSKH</h5>
                <p>Hỗ trợ đặt hàng và khiếu nại</p>
                <p><a href="tel:18006821" class="text-primary">1800 6821</a></p>
            </div>
            <div class="col-md-3 mb-4">
                <h5 class="text-dark">Theo dõi chúng tôi trên</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark"><i class="bi bi-facebook"></i> Facebook</a></li>
                    <li><a href="#" class="text-dark"><i class="bi bi-youtube"></i> Youtube</a></li>
                    <li><a href="#" class="text-dark"><i class="bi bi-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center text-dark mt-4">
            <p class="mb-1">Công Ty Cổ Phần Dược Phẩm Pharmacity</p>
            <p class="mb-1">Trụ sở: 248A Nơ Trang Long, P.12, Q.Bình Thạnh, TP.Hồ Chí Minh.</p>
            <p class="mb-1">Điện thoại: 1800 6821. Email: cskh@pharmacity.vn</p>
            <p class="mb-1">GCNDKDN: 0311770883 do sở KH & ĐT TP.HCM cấp lần đầu ngày 05/05/2012.</p>
            <p>GCNDDKKDD: 6782/DDKKDDD-ĐNai ngày cấp 26/4/2022 Sở Y Tế Tỉnh Đồng Nai.</p>
        </div>
    </div>
</footer>