<div id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="fas fa-th"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#">Quản lý hiệu thuốc</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a asp-controller="Settings" asp-action="Index" class="sidebar-link">
                <i class="fas fa-shop"></i>
                <span>Cửa hàng</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a asp-controller="TaiKhoan" asp-action="Edit" class="sidebar-link">
                <i class="fas fa-user"></i>
                <span>Hồ sơ</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a asp-controller="Cart" asp-action="ManageCart" class="sidebar-link">
                <i class="fas fa-shopping-cart"></i>
                <span>Giỏ hàng</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a asp-controller="Order" asp-action="CheckOrders" class="sidebar-link">
                <i class="fas fa-box"></i>
                <span>Kiểm tra đơn hàng</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a asp-controller="Notification" asp-action="Index" class="sidebar-link">
                <i class="fas fa-bell"></i>
                <span>Thông báo</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a asp-controller="Account" asp-action="Logout" class="sidebar-link">
            <i class="fas fa-sign-out-alt"></i>
            <span>Đăng xuất</span>
        </a>
    </div>
</div>
