<div id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="fas fa-th"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#" style="text-decoration:none">Quản lý hiệu thuốc</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a asp-controller="SanPhams" asp-action="Index" class="sidebar-link" style="text-decoration:none">
                <i class="fas fa-shop"></i>
                <span>Cửa hàng</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a asp-controller="TaiKhoans" asp-action="Index" class="sidebar-link" style="text-decoration:none">
                <i class="fas fa-user"></i>
                <span>Hồ sơ</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a asp-controller="Cart" asp-action="ManageCart" class="sidebar-link" style="text-decoration:none">
                <i class="fas fa-shopping-cart"></i>
                <span>Giỏ hàng</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a asp-controller="Order" asp-action="CheckOrders" class="sidebar-link" style="text-decoration:none">
                <i class="fas fa-box"></i>
                <span>Kiểm tra đơn hàng</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a asp-controller="Notification" asp-action="Index" class="sidebar-link" style="text-decoration:none">
                <i class="fas fa-bell"></i>
                <span>Thông báo</span>
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Index" class="sidebar-link" style="text-decoration:none">
                <i class="fas fa-sign-out-alt"></i>
                <span>Đăng xuất</span>
            </a>
        </li>
    </ul>
</div>
