<div id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button" aria-label="Toggle Sidebar">
            <i class="fas fa-th"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#">Quản lý hiệu thuốc</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="suathongtinkhachhang.html" class="sidebar-link">
                <i class="fas fa-user"></i>
                <span>Hồ sơ</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="quanligiohang.html" class="sidebar-link">
                <i class="fas fa-shopping-cart"></i>
                <span>Giỏ hàng</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="quanlidonhang.html" class="sidebar-link">
                <i class="fas fa-box"></i>
                <span>Kiểm tra đơn hàng</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="fas fa-bell"></i>
                <span>Thông báo</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="fas fa-cog"></i>
                <span>Cài đặt</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <i class="fas fa-sign-out-alt"></i>
            <span>Đăng xuất</span>
        </a>
    </div>
</div>
