@model BTL.Models.ChiTietHdb

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Xóa Chi Tiết Hóa Đơn Bán</h1>

<h3>Bạn có muốn xóa chi tiết hóa đơn này?</h3>
<div>
    <h4>Chi tiết hóa đơn bán</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên sản phẩm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSp)
        </dd>
        <dt class = "col-sm-2">
            Số lượng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slban)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHdb" />
        <input type="hidden" asp-for="MaSp" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
