@model BTL.Models.ChiTietHdn

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Tạo Chi Tiết Hóa Đơn Nhập</h1>

<h4>Chi Tiết Hóa Đơn Nhập</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHdn" />
            <div class="form-group">
                <label asp-for="MaSp" class="control-label">Tên thuốc</label>
                <select asp-for="MaSp" class ="form-control" asp-items="ViewBag.MaSp"></select>
            </div>
            <div class="form-group">
                <label asp-for="Slnhap" class="control-label">Số lượng nhập</label>
                <input asp-for="Slnhap" class="form-control" />
                <span asp-validation-for="Slnhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Quay lại</a>
            </div>
        </form>
    </div>
</div>
