@{
    ViewData["Title"] = "Create";
}

<div class="ms-2 mx-2">
    <h1>Create</h1>
    <form asp-controller="Product" asp-action="Create" method="post" class="mt-3">
        <div style="margin-top:7px" class="form-group row">
            Ma thuoc
        </div>

        <div style="margin-top:7px" class="form-group row">
            Ten thuoc
        </div>

        <div style="margin-top:7px" class="form-group row">
            Loai thuoc
        </div>

        <div style="margin-top:10px" class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>
