@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="ms-2 mx-2">
    <h1>Danh sách thuốc</h1>
    <form asp-controller="" asp-action="Create" method="post" class="mt-3">

        <!-- Learner Dropdown -->
        <div class="form-group row">
            ID
        </div>

        <!-- Course Dropdown -->
        <div class="form-group row">
            Name
        </div>

        <!-- Grade Input -->
        <div class="form-group row">
            Price
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>
