@model IEnumerable<BTL.Models.HoaDonNhap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Hóa Đơn Nhập</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Thuốc
            </th>
            <th>
                Nhà Cung Cấp
            </th>
            <th>
                Ngày Nhập
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if(item.ChiTietHdns.Any())
                {
                    @Html.DisplayFor(modelItem => item.ChiTietHdns.First().MaSpNavigation.TenSp)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNccNavigation.TenNcc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhap)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.MaHdn">Xem</a>
            </td>
        </tr>
}
    </tbody>
</table>
