@model BTL.Models.HoaDonBan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Tạo Hóa Đơn Bán</h1>

<h4>Hóa Đơn Bán</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaTkNavigation.HoTen" class="control-label">Tên khách hàng</label>
                <input asp-for="MaTkNavigation.HoTen" class="form-control" />
                <span asp-validation-for="MaTkNavigation.HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiTietHdbs.FirstOrDefault().MaSp" class="control-label">Tên Thuốc</label>
                <select name="maSp" class="form-control" asp-items="ViewBag.SanPhamList"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgayBan" class="control-label"></label>
                <input asp-for="NgayBan" class="form-control" />
                <span asp-validation-for="NgayBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input value="Tạo" type="submit" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Quay lại</a>
            </div>
        </form>
    </div>
</div>