@model BTL.Models.HoaDonBan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Xóa Đơn Hàng Bán</h1>

<h3>Bạn có muốn xóa đơn hàng này?</h3>
<div>
    <h4>Hóa Đơn Bán</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên thuốc
        </dt>
        <dd class="col-sm-10">
            @if (Model.ChiTietHdbs.Any())
            {
                @Html.DisplayFor(modelItem => Model.ChiTietHdbs.First().MaSpNavigation.TenSp)
            }
        </dd>
        <dt class="col-sm-2">
            Tên khách hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaTkNavigation.HoTen)
        </dd>
        <dt class = "col-sm-2">
            Ngày bán
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBan)
        </dd>
        <dt class="col-sm-2">
            Trạng thái
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHdb" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Quay lại</a>
    </form>
</div>
